@import "github_badge"
$primary_color: #fff

body
  background-color: $primary_color
  margin: 15px auto
  width: 960px
  font:
    family: Georgia, Verdana, Helvetica, Arial
    size: 14px
  line-height: 130%

a
  color: #007fff
  img
    border: none

h1,
h2,
h3
  font-weight: bold
  padding: 5px 0 5px 0
h1
  font-size: 200%
h2
  font-size: 170%
h3
  font-size: 140%

.clear
  clear: both
  height: 0
  overflow: hidden

p
  margin: 10px 0 10px 0
p,
li
  line-height: 20px

span.code
  font-family: Courier
  background-color: #eee

blockquote
  display: block
  border: 1px solid #ddd
  background-color: #fafafa
  padding: 3px
  margin-left: 20px
  margin-top: 10px

header#page_header
  width: 100%
  h1
    margin-left: 150px
    a
      color: #005fbf
      text-decoration: none

header#page_header nav ul, 
#page_footer nav ul
  list-style: none
  margin: 0
  padding: 0

#page_header nav ul li,
footer#page_footer nav ul li
  padding: 0
  margin: 0 20px 0 0 
  display: inline

section#content
  float: right
  width: 74%
  padding-top: 10px

article.single_post
  h2
    margin: 0
    a
      text-decoration: none
      color: #333
  time
    padding-left: 30px

section#posts aside
  float: right
  width: 35%
  margin-left: 5%
  font-size: 20px
  line-height: 40px

section#sidebar
  float: left
  width: 22%
  padding-top: 30px
  text-align: right
  h3
    padding-top: 20px

footer#page_footer
  clear: both
  width: 100%
  display: block
  text-align: center

span.error
  color: red
  font-weight: bold
  padding-left: 10px

pre
  display: inline
  font:
    family: Courier
