defaults: &defaults
  blog_name: Tracking Rails
  google_analytics_id: UA-000000-00
  disqus_shortname: example

development:
  <<: *defaults
  google_analytics_id: 
  disqus_shortname: 

test:
  <<: *defaults

production:
  <<: *defaults
